@model List<AirBench.Models.Bench>

@{
    ViewBag.Title = "Home";
}

<h2>Home</h2>

<div id="benches"></div>

<script>
    const airBenchConfig = {
        baseApiUrl: '@ViewBag.BaseApiUrl'
    };
</script>
<script src="~/Scripts/App/data.js"></script>
<script src="~/Scripts/App/benches-html.js"></script>
<script src="~/Scripts/App/main.js"></script>
