@model List<AirBench.Models.Bench>

@{
    ViewBag.Title = "Home";
}

<h2>Home</h2>

<p>@Html.ActionLink("Create a Bench", "Create", "Benches")</p>

<form id="bench-filtering" class="form-inline">
    <div class="form-group">
        <label for="minNumberOfSeats">Min:</label>
        <input type="number" id="minNumberOfSeats" class="form-control" />
    </div>
    <div class="form-group">
        <label for="maxNumberOfSeats">Max:</label>
        <input type="number" id="maxNumberOfSeats" class="form-control" />
    </div>
</form>

<div id="benches"></div>

<script>
    const airBenchConfig = {
        baseApiUrl: '@ViewBag.BaseApiUrl'
    };
</script>
<script src="~/Scripts/App/data.js"></script>
<script src="~/Scripts/App/benches-html.js"></script>
<script src="~/Scripts/App/main.js"></script>
